/* Putting in variables for color because something something optimization */

:root {
    --darkcolor: rgba(82, 22, 97, 0.952);
    --mediumcolor: rgba(182, 53, 187, 0.938);
    --lightcolor: rgba(243, 157, 243, 0.829);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: var(--mediumcolor);
    text-decoration: none;
}

body {
    background-color: var(--lightcolor);
}

header {
    color: var(--darkcolor);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

ul li {
    display: inline-block;
    margin: 40px;
    font-size: 30px;
}

main {
    color: var(--darkcolor);
}
